<p id="notice"><%= notice %></p>

  <strong>Username:</strong>
  <%= @user.username %>
 <p> <strong>Ratings:</strong>
 <%= @user.ratings.count %> </p>
<p>
  <%= @user.ratings.each do |rating| %>
  <%= rating %>
<% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  </p>
<% end %>
</p>
<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', users_path %>
