<h2>List of ratings</h2>

<p>
  Number of ratings <%= @ratings.count %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %></li>
  <% end %>
</ul>
<p> Newest ratings </p>
<%= Rating.recent %>

<p> Best breweries </p>
 <%= Brewery.all.sort_by{ |b| -(b.average_rating||0) }.take(3) %>


<p> Best beers </p>
 <%= Beer.all.sort_by{ |b| -(b.average_rating||0) }.take(3) %>

<p> Best styles </p>

