<h2>List of ratings</h2>
<% cache 'fragment_name', expires_in:10.minutes do %>
<p>
  Number of ratings <%= @ratings.count %>
</p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %></li>
  <% end %>
</ul>
<p> Newest ratings </p>
<ul>
  <% @recent.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-3">
    <h4>Best beers</h4>
    <%= render 'list', items: Beer.all %>
  </div>
  <div class="col-md-3">
    <h4>Best breweries</h4>
    <%= render 'list', items: Brewery.all %>
  </div>
  <div class="col-md-3">
    <h4>Best styles</h4>
    <%= render 'list', items: Style.all %>
  </div>
</div>
<% end %>


