<p id="notice"><%= notice %></p>
<% cache @beer do %>
<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= Style.find_by_id(@beer.style_id) %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery_id %>
</p>

<p>
  <% if @beer.ratings.empty? %>
  beer has not yet been rated!
  <% else %>
  beer has 
  <%= pluralize(@beer.average_rating, 'rating') %>
<% end %>
<% end %>
<p>
  <%= link_to 'list of breweries', breweries_path %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>

